<div class="jumbotron mt-5" style="background-color:#f5f3ea">
    <div class="container" [hidden]="enviado">
        <h4><span class="badge badge-pill badge-dark ml-3 mb-2" style="background-color: #639ea9">ID: {{rack.id}}</span></h4>
        <form class="col" #updateRackForm="ngForm">
            <div class="form-row">
                <div class="form-group col">
                    <label for="inputHost" class="badge badge-dark" style="background-color: #639ea9">Nombre del Host</label>
                    <input type="text" class="form-control" id="inputHost" placeholder="" required [(ngModel)]="rack.host" name="host" #host="ngModel" minlength="3">
                    <div *ngIf="host.invalid && (host.dirty || host.touched)" class="alert alert-danger">
                        El nombre es necesario
                    </div>
                    <div *ngIf="host.invalid && host?.errors.minlength">
                        como mínimo {{ host?.errors.minlength.requiredLength}} carácteres
                    </div>
                </div>
                <form class="col form-inline" name="upload-form" action="upload" method="post" enctype="multipart/form-data">
                    <input class="form-group mt-3" type="file" name="archivo" id="archivo" required #archivo="" (change)="onFileSelected($event.target.files[0])">
                    <div *ngIf="archivo.invalid && (archivo.dirty || archivo.touched)" class="alert alert-danger mr-2">
                        No ha seleccionado ninguna imagen
                    </div>
                </form>
            </div>
            <div class="form-row">
                <div class="form-group col form-inline">
                    <label for="inputLat" class="badge badge-dark mr-2" style="background-color: #639ea9">Latitud</label>
                    <input type="number" class="form-control col-2 mr-2" id="inputLat" placeholder="" required [(ngModel)]="rack.lat" name="lat" #lat="ngModel">
                    <div *ngIf="lat.invalid && (lat.dirty || lat.touched)" class="alert alert-danger mr-2">
                        Este campo es necesario
                    </div>
                    <label for="inputLng" class="badge badge-dark ml-4 mr-2" style="background-color: #639ea9">Longitud</label>
                    <input type="number" class="form-control col-2 mr-2" id="inputLat" placeholder="" required [(ngModel)]="rack.lng" name="lng" #lng="ngModel">
                    <div *ngIf="lng.invalid && (lng.dirty || lng.touched)" class="alert alert-danger">
                        Este campo es necesario
                    </div>
                </div>
            </div>
            <div class="form-row">
                <form class="form-group form-inline ml-1">
                    <button type="button" class="btn btn-dark" (click)="goBack()" style="background-color: #639ea9">Atrás</button>
                    <button type="button" class="btn btn-dark" (click)="update()" [disabled]="!updateRackForm.form.valid" style="background-color: #639ea9">Actualizar</button>
                    <button type="button" class="btn btn-dark" (click)="delete()" style="background-color: #639ea9">Borrar</button>
                </form>
            </div>
            <div [hidden]="!enviado">
                <p>{{mensaje}}</p>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>