<mat-card class="card">
    <mat-card-title style="text-align:center; color: #f5f3ea" class="title">
        Rack</mat-card-title>
    <mat-card-content>
        <div *ngIf="enviado" class="alert alert-success">
            <p>{{ mensaje }}</p>
            <button mat-raised-button color="warn" type="button" (click)="goBack()">
        Atrás
      </button>
        </div>
        <div [hidden]="enviado">
            <mat-card class="card-content">
                <form [formGroup]="form" (submit)="onSaveRack()">
                    <div>
                        <div>
                            <mat-form-field class="full-fill">
                                <input matInput type="text" placeholder="Nombre del Host" formControlName="host" />
                                <mat-error *ngIf="form.get('host').invalid">El nombre del host es obligatorio</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <mat-form-field>
                            <input matInput type="number" placeholder="Latitud" formControlName="lat" />
                            <mat-error *ngIf="form.get('lat').invalid">El campo es obligatorio</mat-error>
                        </mat-form-field>
                        <div>
                            <mat-form-field>
                                <input matInput type="number" placeholder="Longitud" formControlName="lng" />
                                <mat-error *ngIf="form.get('lng').invalid">El campo es obligatorio</mat-error>
                            </mat-form-field>
                        </div>
                        <br />
                        <button mat-stroked-button type="button" (click)="filePicker.click()">
              Seleccionar imagen
            </button>
                        <input type="file" #filePicker (change)="onImagePicked($event)" />
                        <br />
                    </div>
                    <br />
                    <div class="image-preview" *ngIf="imgPreview !== '' && imgPreview && form.get('archivo').valid">
                        <img [src]="imgPreview" [alt]="form.value.host" />
                    </div>
                    <div></div>
                    <br />
                    <div>
                        <button mat-raised-button color="warn" type="button" (click)="goBack()">
              Atrás
            </button>
                        <button mat-raised-button color="primary" type="submit">
              Guardar
            </button>
                        <button *ngIf="mode !== 'create'" mat-raised-button color="accent" type="button" (click)="delete()">
              Borrar
            </button>
                    </div>
                </form>
            </mat-card>
        </div>
    </mat-card-content>

    <mat-card [hidden]="mode === 'create' || enviado || this.rack.img === null" class="card-content">
        <app-map></app-map>
    </mat-card>
</mat-card>