.card {
  background-color: #fdd17d;
  width: 80%;
  margin-top: 100px !important;
  margin: auto;
}
.card-content {
  background-color: #f5f3ea;
  margin: auto;
}

h1 {
  text-align: center;
}

.full-fill {
  width: 100%;
}
